@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: radial-gradient(circle at top right, #1a1a2e, #0f0f13);
  overflow-x: hidden;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
